################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/algorithms/v15/Server/sqlite3
/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1
/obj
/.vs/algorithms/DesignTimeBuild/.dtbcache
/.vs/algorithms/v15/.suo
/algorithms.csproj.user
/.vs/config
/bin/Debug/netcoreapp2.2
.vs/algorithms/xs/sqlite3/db.lock
.vs/algorithms/xs/sqlite3/storage.ide
.vs/algorithms/xs/sqlite3/storage.ide-shm
.vs/algorithms/xs/sqlite3/storage.ide-wal
.vs/algorithms/xs/UserPrefs.xml
