################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/algorithms/v15/Server/sqlite3
/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1
/obj
/.vs/algorithms/DesignTimeBuild/.dtbcache
/.vs/algorithms/v15/.suo
/algorithms.csproj.user
/.vs/config
/bin/Debug/netcoreapp2.2
